@page "/"

<PageTitle>Index</PageTitle>

<style>
    .centered-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
</style>

<h1>Human Resource Management System</h1>

<div class="centered-image">
    <img src="UpdateTNG.png" alt="Welcome Image">
</div>

<div>
    <p>Our system allows you to easily manage and maintain your employee records, making HR management simple and streamlined.</p>
    <p>With our user-friendly interface, you can quickly add and edit employee details, including personal information and more.</p>
    <p>Experience the power of modern HR management with our Human Resource Management System. </p>
</div>
